<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<link type='text/css' rel='stylesheet' href='/plugin/ztree/zTreeStyle.css' />
	<link type='text/css' rel='stylesheet' href='/plugin/layer/skin/layer.css' />
	<link type='text/css' rel='stylesheet' href='/css/common.css' />
	<title>员工管理系统</title>
</head>
<body>

<script type='text/javascript' src='/plugin/jquery.js'></script>
<script type='text/javascript' src='/plugin/jquery.form.js'></script>
<script type='text/javascript' src='/plugin/layer/layer.js'></script>
<script type='text/javascript' src='/plugin/ztree/jquery.ztree.core-3.5.min.js'></script>
<script type='text/javascript' src='/plugin/ztree/jquery.ztree.excheck-3.5.min.js'></script>
<script type='text/javascript' src='/js/common.js'></script>
<script type='text/javascript' src='/js/index.js'></script>
</body>
</html>
