<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>index</title>
	<style>
	* {margin:0px; padding:0px;background:#000;}
	h1{text-align:center; color: #fff;}
	img{display:block;margin:5px auto;}
	.left{ display: none; position: fixed; left: 0px; top:250px; width: 80px; height: 142px; background: transparent; cursor: pointer; z-index: 100; }
	.left:before{ display:block; content:''; position: absolute; width: 100px; height: 4px; top: 35px; left: -10px; background:#aaa; transform:rotate(-45deg); }
	.left:after{ display:block; content:''; position: absolute; width: 100px; height: 4px; top: 104px; left: -10px; background:#aaa; transform:rotate(45deg); }
	.right{ position: fixed; right: 0px; top:250px; width: 80px; height: 142px; background: transparent; cursor: pointer; z-index: 100;}
	.right:before{ display:block; content:''; position: absolute; width: 100px; height: 4px; top: 35px; right: -10px; background:#aaa; transform:rotate(45deg); }
	.right:after{ display:block; content:''; position: absolute; width: 100px; height: 4px; top: 104px; right: -10px; background:#aaa; transform:rotate(-45deg); }
	</style>
</head>
<body>
	<input type='hidden' id='files' value='<%=files %>' />
	<input type='hidden' id='pathname' value='<%=pathname %>'>
	<div id='left' class='left'></div>
	<div id='right' class='right'></div>
	<h1 id='filename'></h1>
	<img id='image' />
<script>
(function(){
	var left = document.getElementById('left');
	var right = document.getElementById('right');

	var files = document.getElementById('files').value;
	var filename = document.getElementById('filename');
	var pathname = document.getElementById('pathname');
	var fileArr = files.split(',');
	var img = document.getElementById('image');

	var index = 0;
	show();
	left.onclick = function() {
		index = (index == 0) ? 0 : (index - 1);
		if (index == 0) {
			left.style.display = 'none';
		} else {
			left.style.display = 'block';
		}
		if (index != fileArr.length - 1) {
			right.style.display = 'block';
		}
		show();
	};
	right.onclick = function() {
		index = (index == fileArr.length - 1) ? (fileArr.length - 1) : (index + 1);
		if (index == fileArr.length - 1) {
			right.style.display = 'none';
		} else {
			right.style.display = 'block';
		}
		if (index != 0) {
			left.style.display = 'block';
		}
		show();
	};
	function show() {
		var file = fileArr[index];
		img.src = file;
		filename.innerText = pathname.value + file.substring(0, file.indexOf('.'));
	}
})();
</script>
</body>
</html>
