<!doctype thml>
<html>
<head>
	<meta charset='utf-8'>
	<title>Express应用</title>
	<!-- 
	此处添加公用css文件 link
	-->
<style>
table{border-collapse: collapse;width:80%;margin:10px auto;}
table th, table td {border: 1px solid #ccc; line-height: 28px;text-indent:10px;}
</style>
</head>
<body>
