<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>index</title>
	<script>
var name = '<%= name %>';
var age = '<%= age %>';
var address = '<%= address %>';
console.log('name:', name);
console.log('age:', age);
console.log('address:', address);
	</script>
</head>
<body>
<h1>express ejs</h1>
</body>
</html>
