* {
	margin: 0px;
	padding: 0px;
}
html {
    -webkit-font-smoothing: antialiased;
}
.page-top, .sidebar, body, html {
    background-color: #fff;
}
dl, ol, p, ul {
    margin: 1em 0;
}
p {
    line-height: 1.9em;
    font-weight: 400;
    font-size: 14px;
}
.post .post-title a, a {
    text-decoration: none;
}
body {
	background-color: #fff;
	zoom: 1;
	color: rgba(0,0,0,.5);
    font-size: 15px;
	width: 100%;
	line-height: 1.6em
}
div {
	display: block;
}
a:link, a:visited {
    opacity: 1;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    -ms-transition: all .15s linear;
    transition: all .15s linear;
    color: #424242;
}
.btn, .btn:hover {
    position: relative;
    outline: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-style: normal;
}
.btn, .menu .btn-down li a {
    border: 1px solid rgba(0,0,0,.15);
}
.btn, .btn:hover, .menu .btn-down li a {
    display: inline-block;
    background: 0 0;
}
.btn, .btn:hover, .read_more {
    font-size: 14px;
}
.btn {
    color: rgba(0,0,0,.44);
    border-radius: 999em;
}
.btn, .btn:hover, a.btn {
    font-weight: 400;
}
a.btn {
    color: #868686;
}
@keyframes fadeInDown{
	0%{
		opacity:0;
		transform:translateY(-20px);
	}
	100%{
		opacity:1;
		transform:translateY(0)
	}
}
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.sidebar {
	width: 35%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    transition: .8s;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    border-right: 1px solid #f2f2f2;
}
.sidebar .logo-title {
	text-align: center;
	padding-top: 240px;
}
.sidebar .logo-title .title h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    margin: 0;
}
.sidebar .logo-title .title a {
    text-decoration: none;
    color: #464646;
    font-size: 2rem;
    font-weight: 700;
}
.sidebar .logo-title .description {
    font-size: 14px;
    color: #565654;
}

.sidebar .nav li{
	margin-left: 50%;
}
.sidebar .nav li a{
	padding: 20px 40px;
}


.page-top {
    width: 65%;
    position: fixed;
    right: 0;
    z-index: 3;
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
}
.page-top .nav {
    list-style: none;
    padding: 18px 30px;
    float: left;
    font-size: 12px;
}
.page-top .nav li {
    position: relative;
    display: initial;
    padding-right: 20px;
}
.page-top .nav a {
    color: #5A5A5A;
}
.page-top .nav a.current {
    color: #5A5A5A;
    padding-bottom: 22px;
    border-bottom: 1px solid #5A5A5A;
}

.content {
    height: auto;
    float: right;
    width: 65%;
    margin-top: 65px;
}
.post {
    background-color: #FFF;
    margin: 30px;
}
.post .post-footer {
    padding: 0 0 30px;
}
.post-title h3 {
    text-transform: uppercase;
    line-height: 1;
}
.post .post-title h3 {
    letter-spacing: 1px;
    font-weight: 600;
    color: #464646;
    font-size: 22px;
    margin: 0 0 20px;
}
.post .post-title a, a {
    text-decoration: none;
}
.post .post-title a {
    letter-spacing: 1px;
    color: #5f5f5f;
}
.post .post-title a:hover {
    text-decoration: underline;
}
.post .post-footer {
	/*
    border-bottom: 1px solid #f2f2f2;
	*/
}
.post .post-footer .meta {
    max-width: 100%;
    height: 45px;
	line-height: 45px;
    color: #444;
	background-color: #f2f2f2;
}
.post .post-footer .meta .info {
    float: left;
    font-size: 12px;
}

.post .post-footer .meta .info .delimiter {
	padding: 0 10px;
}

.pagination {
    margin: 30px;
    padding: 0 0 56px;
}
.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 13px;
}
.pagination ul li {
    margin: 0 2px;
    display: inline;
    line-height: 1;
}
.pagination .pre {
    float: left;
}
.like-reblog-buttons, .pagination .next {
    float: right;
}
.pagination ul li a, .post .post-content a, .post .post-footer .tags a, .post .post-footer .tags a:hover {
    text-decoration: none;
}
[role=back], [role=home], [role=navigation] {
    padding: .5em 1.25em;
    line-height: 1.666em;
}
@media screen and (max-width: 960px) {
	.sidebar {
	    width: 100%;
	    border-right: none;
		position: static;
	    z-index: 1;
		transition: .8s;
		border-right: none;
	}
	.sidebar .logo-title {
		padding-top: 120px;
	}
	/*
	.main{
		width: 100%;
		margin-left: 0;
	}
	*/
	.sidebar .logo-title .title h1 {
		font-size: 20px;
	}

	.content, .page-top {
		width: 100%;
	}
	.content {
		margin-top: 200px;
		z-index: 2;
	}
	.content, .sidebar {
		position: absolute;
	}
	.post-title h3 {
		line-height: 1.6;
	}
}
