* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #fff;
	zoom: 1;
	color: rgba(0,0,0,.5);
    font-size: 15px;
	width: 100%;
}
div {
	display: block;
}
.sidebar {
	width: 30%;
	height: 100%;
	border-right: 1px solid #f2f2f2;
	transition: .8s;
	position: fixed;
	left: 0;
	top: 0;
}
.sidebar .logo-title {
	text-align: center;
	padding-top: 240px;
}
.main {
	margin-left: 30%;
	width: 70%;
}
.fadeInDown {
	animation-name: fadeInDown;
}

@media screen and (max-width: 960px) {
	.sidebar {
	    width: 100%;
	    border-right: none;
		position: static;
	    z-index: 1;
		transition: .8s;
		border-right: none;
	}
	.main{
		width: 100%;
		margin-left: 0;
	}
}
