* {margin: 0; padding: 0; font-size: 12px; color: #444;}
div {box-sizing: border-box;}
ul li {list-style:none;}
.clear {clear: both;}
.index-content {width: 500px; margin: 200px auto; border-radius: 5px;     box-shadow: 0px 0px 20px #ccc; border: 1px solid #ddd;}
.index-menu {height: 60px; line-height: 60px;}
.index-menu li {float: left; width: 50%; font-size: 14px;font-weight: bold;text-align: center; background: #eee; cursor: pointer;}
.index-menu li.login-li{border-radius: 5px 0 0 0;}
.index-menu li.register-li{border-radius: 0 5px 0 0;}
.index-menu li:hover {background: #ddd;}
.index-menu li.active {background: #428bca;color: #fff;}
