<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<style>
		*{margin:0;padding:0;}
		canvas{margin:2px auto; display:block; border: 1px solid #ccc;}
	</style>
	<title>Canvas</title>
</head>
<body>
	<h1>shenjinxiang!</h1>
	<canvas id='canvas'></canvas>
	<script type='text/javascript' src='/js/elsfk.js'></script>
</body>
</html>

